<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"/>
<body>
<!-- Login Section -->
    
 
            <div class="main-center">
            
               <img class="img-responsive" src="/images/catering.jpeg" alt="banner" width="400px" height="400px" onclick="/api/hello"/>
            <h2><a th:href="@{/event}">Start Event</a></h2>
                     
            </div>
      


<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>